## Deliverable 3. Create a Travel Itinerary Map.

In [41]:
# Dependencies and Setup
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from config import g_key
from config import weather_api_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [13]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
hotel_df = pd.read_csv("../Vacation_Search/WeatherPy_vacation.csv")
hotel_df.head()

,City_ID,City,Country,Max Temp,Description,Lat,Lng,Hotel Name
0,4,Savannah Bight,HN,79.00,clear sky,16.4500,-85.8500,Villa on Dunbar Rock
1,5,Atuona,PF,78.24,light rain,-9.8000,-139.0333,Villa Enata
2,7,Busselton,AU,76.05,broken clouds,-33.6500,115.3333,Observatory Guest House
3,9,Port Elizabeth,ZA,71.10,overcast clouds,-33.9180,25.5701,39 On Nile Guest House
4,18,Padang,ID,79.83,broken clouds,-0.9492,100.3543,Mercure Padang

In [15]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Description} °F</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = hotel_df[["Lat", "Lng"]]

In [99]:
# 4a. Add a marker layer for each city to the map.
locations = hotel_df[["Lat", "Lng"]]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content = hotel_info)
fig.add_layer(marker_layer)

# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [39]:
hotel_df.loc[(hotel_df['City']=="Trindade") & (hotel_df['Country']=="BR")]

,City_ID,City,Country,Max Temp,Description,Lat,Lng,Hotel Name
194,588,Trindade,BR,73.15,overcast clouds,-16.6494,-49.4889,Pousada Central

In [89]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.
vacation_start = hotel_df.loc[(hotel_df['City']=="Posse") & (hotel_df['Country']=="BR")]
vacation_end = hotel_df.loc[(hotel_df['City']=="Posse") & (hotel_df['Country']=="BR")]
vacation_stop1 = hotel_df.loc[(hotel_df['City']=="Ibotirama") & (hotel_df['Country']=="BR")]
vacation_stop2 = hotel_df.loc[(hotel_df['City']=="Mozarlandia") & (hotel_df['Country']=="BR")]
vacation_stop3 = hotel_df.loc[(hotel_df['City']=="Trindade") & (hotel_df['Country']=="BR")]

In [90]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = vacation_start[["Lat","Lng"]].to_numpy().tolist()[0]
end = vacation_end[["Lat","Lng"]].to_numpy().tolist()[0]
stop1 = vacation_stop1[["Lat","Lng"]].to_numpy().tolist()[0]
stop2 = vacation_stop2[["Lat","Lng"]].to_numpy().tolist()[0]
stop3 = vacation_stop3[["Lat","Lng"]].to_numpy().tolist()[0]

In [91]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
fig = gmaps.figure()
brazil_vacation = gmaps.directions_layer(
        start, end, waypoints=[stop1, stop2, stop3],
        travel_mode='DRIVING')
fig.add_layer(brazil_vacation)
fig

Figure(layout=FigureLayout(height='420px'))

In [93]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start, vacation_stop1, vacation_stop2, vacation_stop3],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Description,Lat,Lng,Hotel Name
0,610,Posse,BR,71.11,light rain,-14.0931,-46.3694,Pousada das Palmeiras
1,357,Ibotirama,BR,74.43,few clouds,-12.1853,-43.2206,Serra do Rio Hotel
2,489,Mozarlandia,BR,74.21,overcast clouds,-14.7447,-50.5706,Hotel Santa Mônica
3,588,Trindade,BR,73.15,overcast clouds,-16.6494,-49.4889,Pousada Central

In [105]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dt>Hotel</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Description} and {Max Temp}°F</dd>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info2 = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [106]:
# 11a. Add a marker layer for each city to the map.
locations = itinerary_df[["Lat", "Lng"]]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
markers = gmaps.marker_layer(locations, info_box_content = hotel_info2)
fig.add_layer(markers)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))